.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 2rem auto;
  }

.auth-title {
    width: 25rem;
    max-width: 80%;
    margin: 3rem auto;
}

.auth-form input {
  padding: 0.5rem;
  border-radius: 0.2rem;
}